* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	list-style-type: none;
	text-decoration: none;
	color: white;
}

button {
	background: none;
	border: none;
}

body {
	background-color: #191765;
}

.pg-hdr {
	width: 375px;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	margin-bottom: 47px;
}

#main {
	width: 375px;
	display: flex;
	flex-direction: column;
	height: auto;
}
