* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
}

body {
  background-color: #191765;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pg-hdr {
  width: 375px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 47px;
  padding: 24px;
}

#main {
  width: 375px;
  display: flex;
  flex-direction: column;
  height: auto;
}

.section { /* global style for sections */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles * {
  width: max-content;
  height: auto;
}

.titles h1 {
  color: #7d73fc;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

.titles h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 70px;
}

#sct1 .para {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  width: 327px;
  color: #c8c8d4;
  border-bottom: 2px solid #646369;
  padding-bottom: 33px;
  margin-bottom: 37px;
}

/* Soft Skills */
.skills {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.skills::after {
  content: " ";
  width: 88%;
  height: 2px;
  background-color: #646369;
  margin: auto;
  margin-bottom: 65px;
}

.competences { margin-left: 43px; }

.cmp-ttl { margin-bottom: 24px; }

.cmp-ttl h3 {
  font-size: 12px;
  font-weight: 500;
  color: #9490ff;
}

.competence {
  margin-bottom: 21px;
  font-size: 15px;
  font-weight: 400;
}

/* Socials */
.join {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.Socials {
  width: 200px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

/* Transition button */
.btn-work {
  width: 77px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Work section */
#sct2 { margin-top: 83px; }

.work-list {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  padding: 0 24px;
}

.work-list-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.work-img {
  width: 327px;
  height: auto;
}

.block {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.block h3 {
  font-size: 32px;
  font-weight: 500;
  height: 105px;
  display: flex;
  align-items: center;
  margin: 24px 0;
}

.work-para {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  color: #dcdce8;
  line-height: 28px;
  font-family: 'Inter', sans-serif;
}

.techs {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 24px 0;
}

.tech {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #646369;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.tech:last-child { border-right: none; }

.see-project {
  width: 90px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7d73fc;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}

.see-project:hover {
  box-shadow: 0 0 5px #7d73fc;
  border: 1px solid white;
}

.recent-work {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 52px;
  color: #9490ff;
}

.work-list-item:first-child::after {
  content: " ";
  width: 100%;
  height: 2px;
  background-color: #646369;
  margin: 34px 0 48px 0;
}
